@import "tailwindcss";

:root {
  --font-inter : 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-poppins: 'Poppins',sans-serif
}

.font-inter {
  font-family: var(--font-inter);
}

.font-playfair {
  font-family: var(--font-playfair);
}

.font-poppins {
  font-family: var(--font-poppins);
}

body{
  background-color: #FFF7F5;
  color: #3A2E2A;
}
